body {
  font-family: 'Ubuntu', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: rgb(243, 243, 243);
}

nav li {
  display: inline;
  padding-right: 15px;
}

.navbar {
  display: flex;
  /* flex-direction: row; */
  justify-content: flex-end;
  margin: 10px 25px;
}

.ul-container {
  list-style-type: none;
}

.li-container {
  font-size: 25px;
  /* font-weight: 699; */
  text-decoration: none;
  color: #525252;
}

.container {
  /* padding-left: 270px; */
  /* padding-top: 120px; */
  margin: 20px;
}

.intro {
  font-size: 120px;
  font-weight: normal;
  /* color: rgb(48, 48, 48); */
  color: #525252;
}

.name {
  font-weight: bold;
}

.twitter {
  /* color: rgb(48, 48, 48); */
  color: #525252;
  text-decoration: none;
  transition: background-size 0.4s ease;
  background: linear-gradient(transparent 47%, #78d8e9 0) left/0% 100% no-repeat;
  padding: 0 3px 0 2px;
  letter-spacing: 0.08rem;
}

.email {
  /* color: rgb(48, 48, 48); */
  color: #525252;
  text-decoration: none;
  transition: background-size 0.4s ease;
  background: linear-gradient(transparent 47%, #eedf57 0) left/0% 100% no-repeat;
  padding: 0 3px 0 2px;
  letter-spacing: 0.08rem;
}

.description {
  font-size: 30px;
  /* color: rgb(61, 61, 61); */
  color: #525252;
}

.contact {
  font-size: 25px;
  /* color: rgb(61, 61, 61); */
  color: #525252;
}

.twitter:hover {
  background-size: 105% 100%;
  transition-duration: 0.9s;
  transform: rotate(45deg) translateX(180px);
}

.emoji {
  margin-top: -167px;
}

.wave {
  /* animation */
  animation-name: wave-animation;
  animation-duration: 2.6s;
  transform-origin: 40% 90%;
  animation: wave-animation 2.1s 0.6s;
}

.email:hover {
  background-size: 105% 100%;
  transition-duration: 0.9s;
}

.wave:hover {
  animation: wave-animation 2.1s 0.6s infinite;
  cursor: pointer;
}

.avatar-bg {
  background-color: #ffd875;
  width: 50px;
  height: 50px;
  display: relative;
  margin-left: 800px;
  margin-top: 60px;
}

/* Mobile */
@media (min-width: 320px) {
  .container {
    padding: 25px;
  }
  .intro {
    font-size: 40px;
    margin-top: 70px;
    margin-left: -5px;
  }
  .description {
    font-size: 130%;
    margin-top: 50px;
    margin-left: -5px;
  }
  .contact {
    font-size: 15px;
    margin-left: -5px;
  }

  .wave {
    width: 35px;
    margin-left: 207px;
    margin-top: 96px;
  }
}

/* iPad */
@media (min-width: 768px) {
  .container {
    margin-top: 70px;
  }
  .intro {
    padding-top: 100px;
    margin-bottom: 60px;
    font-size: 70px;
    margin-left: 62px;
  }
  .description {
    font-size: 30px;
    margin-left: 62px;
    width: 80%;
  }
  .contact {
    font-size: 20px;
    margin-left: 62px;
    width: 80%;
  }

  .emoji {
    margin-left: 45px;
  }

  .wave {
    width: 70px;
    margin-left: 387px;
    margin-top: 23px;
  }
}

/* Desktop */
@media (min-width: 1024px) {
  .container {
    margin-top: 100px;
    margin-left: -75px;
  }
  .intro {
    font-size: 100px;
    margin-top: 50px;
    margin-left: 150px;
  }
  .description {
    margin-top: 100px;
    font-size: 35px;
    margin-left: 150px;
  }
  .contact {
    font-size: 25px;
    margin-left: 150px;
  }
  .wave {
    width: 90px;
    margin-left: 640px;
    margin-top: -5px;
  }
}

@keyframes wave-animation {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(14deg);
  }
  20% {
    transform: rotate(-8deg);
  }
  30% {
    transform: rotate(14deg);
  }
  40% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
